# ===== Секреты =====
.env
.env.*
!.env.example

# ===== IDE =====
.idea/
.gigaide/
*.iml

# ===== Временные скрипты =====
check_db.py
check_users.py
test_database.py

# ===== Служебные файлы Flet/сервера =====
--port
--server
8888
data/

# ===== Flet =====
.flet/
storage/
temp/

# ===== Python =====
venv/
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/
*.log